<h1>This is the main page...!</h1>
<h3> Flash messages in Express 4 </h3>
<p><a href="http://localhost:3000/">Click here</a> for a flash message using the express-flash module.</p>
<p>Refresh to clear the flash message.</p>

{{>_msg}}